*{
	margin: 0;
	padding: 0;
}
body {
	background: rgb(24,25,26);
}
form {
	background: #1AD3FF;
	max-width: 280px;
	margin: 15px auto;
	
	width: 100%;
	text-align: center;
	border-radius: 5px;
}
form h2, form p {
	margin-top: 10px;
}
input {
	max-width: 80px;
	border-radius: 3px;
}
button {
	background: #6694FE;
	border-radius: 5px;
	padding: 10px;
	margin: 10px;
	border: none;
}
#content {
	background: #1AD3FF;
	margin: 0 auto;
	padding: 5px;
	max-width: 270px;
	border-radius: 5px;
}
#content div {
	height: 50px;
	font-size: 15px;
	margin: 10px;
	text-align: center;
	
	border-radius: 5px;
	background: #39B8FF;
}